parameters:
	paths:
		- Civi
		- CRM
		- tests
	excludePaths:
		analyse:
			- CRM/RemoteEventFormEditor/DAO/*
			- CRM/RemoteEventFormEditor/Upgrader/Base.php
			- tests/phpunit/bootstrap.php
	scanFiles:
		- remoteeventformeditor.civix.php
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework/TestCase.php
	scanDirectories:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework
	bootstrapFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/vendor/autoload.php
		- vendor/autoload.php
		- phpstanBootstrap.php
	stubFiles:
		- stubs/AbstractAction.stub
		- stubs/Civi.stub
		- stubs/CiviEventDispatcher.stub
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Webmozart\Assert\InvalidArgumentException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to wirk with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		- '/^Parameter #[0-9]+ \$[^\s]+ \(array[^)]+\) of method [^\s]+ should be contravariant with parameter \$[^\s]+ \(array\) of method [^\s]+.$/'
		- '#^Method Civi\\RemoteEventFormEditor\\FieldType\\EditorFieldType::toArray\(\) should return array\{[^}]+\} but returns non-empty-array<string, mixed>.$#'
		- '/^Parameter #1 \$iterator of function iterator_to_array expects Traversable, iterable(<.+>)? given.$/' # false positive
	tmpDir: .phpstan
