<div class="control form-group">
    <label for="field-target-{{ngModelItem._id}}">{{ ts('Target') }}</label>
    <input id="field-target-{{ngModelItem._id}}" class="form-control" type="text" ng-model="ngModelItem.target" ng-required="true">
</div>
<div class="control form-group">
  <label for="field-options-{{ngModelItem._id}}">{{ ts('Options') }}</label> (one line per option in the form "value=label")
  <textarea id="field-options-{{ngModelItem._id}}" class="form-control" ng-model="ngModelItem.options" ng-required="true" ng-pattern="/^[^=\n]*=[^\n]+(\n[^=\n]*=[^\n]+)*\n?$/"></textarea>
</div>
<div class="control form-group">
  <label for="field-value-{{ngModelItem._id}}">{{ ts('Initial Value') }}</label>
  <input id="field-value-{{ngModelItem._id}}" class="form-control" type="text" ng-model="ngModelItem.value">
</div>
<div class="control form-group">
  <label for="field-dependencies-{{ngModelItem._id}}">{{ ts('Dependencies (advanced)') }}</label>
  <textarea id="field-dependencies-{{ngModelItem._id}}" class="form-control" ng-model="ngModelItem.dependencies" fe-json></textarea>
</div>
